<nav class="navbar navbar-expand-lg" style="background-color: #6a0dad; padding: 16px 0;">
  <div class="container-fluid">
    <!-- <a class="navbar-brand text-white" href="#" style="font-size: 18px;">Navbar</a> -->
    <a href=""><img src="../assets/cs_logo.png" alt="cs_logo" style="width: 70px; height: 70px; margin-right: 40px; margin-left: 20px;"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="font-size: 20px;">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#" style="font-size: 20px; margin-right: 10px;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/users/portfolio']"  style="font-size: 20px; margin-right: 10px;">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white" [routerLink]="['/users/merchandise']" style="font-size: 20px; margin-right: 10px;">Merchandise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white" href="#" style="font-size: 20px; margin-right: 10px;">Sponsorship</a>
        </li>
      </ul>
      </div>
  </div>
</nav>

<!-- Past Events Section -->
<section id="pastEvents" class="container my-5">
  
    <!-- Varsity Hackathon 2024 Details Section -->
    <div id="event-details-1" class="event-detail">
    <h2 class="eventTitle"><strong>Varsity Hackathon 2024</strong></h2>
     <img src="../../../../../assets/vhack.webp">
     <br>

     <div class="d">
     <div class="details">
     <h5><i class="fas fa-calendar-alt"></i>July 12 2024</h5>
     <h5><i class="fas fa-map-marker-alt"></i>Dewan Utama Pelajar, USM</h5>
    </div>
</div>


      <p>Varsity Hackathon, is the annual flagship event of the USM Computer Science Society, currently held for the third consecutive year. 
        It's a significant student-led hackathon in Malaysia, attracting participants from both local and international universities. 
        The event focuses on fostering innovation, collaboration, and creativity among university students, providing a platform for them 
        to explore cutting-edge technologies and transform their ideas into projects. </p>

      <p>Building upon the success of V HACK 2022 and 2023, this year's edition aims to enhance the experience for participants by 
        collaborating with the Securities Commission’s FIKRA ACE-EXCEL. The event will showcase informative workshops, experienced speakers, 
        dedicated mentors, and a prize pool up to RM37,500. </p>
        
      <p>Similar to the previous year, the preliminary rounds will be held online, culminating in the grand finals at Penang, where the 
        top teams will compete in person. The goal is to continue raising the bar for international student-led hackathons in Malaysia.</p>
    
    
    <br>

    <h4 class="gallery_title"><strong>Varsity Hackathon 2024 Gallery</strong></h4>

    <div class="carousel-wrapper">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="../../../../../assets/vhack1.png" class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="../../../../../assets/vhack2.png" class="d-block w-100" alt="...">
          </div>

          <div class="carousel-item" data-bs-interval="3000">
            <img src="../../../../../assets/vhack3.png" class="d-block w-100" alt="...">
          </div>
         
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
</div>

    <br>
    <br>
    <br>
  
    <!-- Pixel 2024 Details Section -->
    <div id="event-details-2" class="event-detail">
      <h2  class="eventTitle"><strong>PIXEL 2024</strong></h2>
      <img src="../../../../../assets/pixel.png">

      <br>

    <div class="d">
    <div class="details">
        <h5><i class="fas fa-calendar-alt"></i> June 30 2024</h5>
        <h5><i class="fas fa-map-marker-alt"></i> Dewan Utama Pelajar, USM</h5>
      </div>
    </div>
      
      <h3>WHAT IS PIXEL?</h3>
      <p>FINAL YEAR PROJECT SHOWCASE
        Project Innovation & eXploration in CS Education and Learning (PIXEL 2023) is an annual grand showcase of innovative tech projects by USM final-year computer science students, organised by the Computer Science Society in collaboration with the School of Computer Sciences, Universiti Sains Malaysia.


        PIXEL 2024 is an extension of the Final Year Projects (FYP) evaluation, allowing students to exhibit their projects and receive valuable feedback from industry professionals. This year, PIXEL is back in hybrid mode with more innovative and groundbreaking tech projects.
    </p>
    <br>

    <h4 class="gallery_title"><strong>PIXEL 2024 Gallery</strong></h4>

    <div class="carousel-wrapper">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="../../../../../assets/pixel1.png" class="d-block w-100" alt="..."> 
          </div>
         
        </div>
        
      </div>
    </div>
</div>

    <br>
    <br>
    <br>

    <!-- Log Off Night 2024 Details Section -->
    <div id="event-details-3" class="event-detail">
        <h2  class="eventTitle"><strong>Log Off Night 2024</strong></h2>
        <img src="../../../../../assets/logOff.png">

        <br>
        <div class="d">
        <div class="details">
            <h5><i class="fas fa-calendar-alt"></i>June 10 2024</h5>
            <h5><i class="fas fa-map-marker-alt"></i>Bayview Hotel, Penang</h5>
       </div>
    </div>

       <p>CS Log Off Night is an annual prom night organised by CS Society committees, to celebrate the final year students 
            and appreciate their contributions towards the School of Computer Sciences in USM. It is a memorable and enjoyable 
            dinner party for lecturers, final-year students, staff and committee to interact with each other. Not only do 
            they come to enjoy their dinner, but there are also activities everyone can participate in. The activities include performances, 
            prom king and prom queen contests, photo booth, lucky draws, etc.
      </p>
      <br>

      <h4 class="gallery_title"><strong>Log Off Night 2024 Gallery</strong></h4>

      <div class="carousel-wrapper">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="../../../../../assets/logoff1.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
</div>

    <br>
    <br>
    <br>

      <!-- CODEMAVEN 2024 Details Section -->
    <div id="event-details-4" class="event-detail">
            <h2  class="eventTitle"><strong>CODEMAVEN 2.0 GIRLS2CODE 2024</strong></h2>

        <img src="../../../../../assets/codeMaven.png">

        <br>

        <div class="d">
            <div class="details">
                <h5>
                    <i class="fas fa-calendar-alt"></i> 28 April – 1 May 2024
                </h5>
                <h5>
                    <i class="fas fa-map-marker-alt"></i> MakerSpace, USM
                </h5>
            </div>     
        </div>
          

       <p>
            CodeMaven 2.0 Girls2Code, jointly organized by the School of Computer Sciences, Universiti Sains Malaysia (CS USM) and Telebort, follows a LAUNCH, CODE and 
            JAM model to encourage young girls (7 - 12 years old) to learn coding and become technology creators. Our CodeMaven community program structure starts with 
            a virtual launch (LAUNCH), followed by a series of coding workshops (CODE), and ends with a coding challenge (JAM). Currently in our third installment after 
            the initiation of the program in 2019, CodeMaven 2.0 was held in conjunction with the International Girls in ICT Day 2023. CodeMaven 2.0 focused on the theme 
            of creative computing (i.e., creating interactive and dynamic computing media) using Scratch. 
            The activities were designed to encourage students to learn basic coding concepts through the creation of animated stories.
        </p>
        <br>
        <h4><strong>The events in CodeMaven 2.0 encompassed:</strong></h4>
        <br>
        <ul>
            <li>CodeMaven 2.0 Launch Day: 28 April 2023</li>
            <li>4 CodeBytes (asynchronous mini coding workshops): 28 April – 1 May 2023 § CodeByte 2.1: Bringing Cartoons to Life: Animate Your Own Story § CodeByte 2.2: Chatty Creatures: How to Make Your Cartoon Animals Talk § CodeByte 2.3: Secret Messages and Surprises: Passing Notes and Triggering Fun § CodeByte 2.4: Lights, Music, Action: Adding Special Effects to Your Cartoon</li>
            <li>Code Jam (F2F coding challenge): 6 May 2023</li>
          </ul>
        <br>
        <p>We had a total of 142 girls (aged between 7 - 12 years old) registered for the program and 130 girls joined us on the Virtual Launch Day through the zoom online platform. To make female ICT role models more visible to girls, we invited speakers, Ida Mok (co-founder and president of Women in Blockchain Asia) and Sophie Azlan (award-winning game developer), to share their inspiring ICT career stories during our virtual launch. In addition, CodeMaven 2.0 also involved 14 CodeSysters, female university student volunteers, who played the role as mentors in coaching the girls</p>

        <p>In our final F2F Code Jam, a total of 18 girls gathered at Makerspace,USM to put their coding skills to the ultimate test and compete in an animation coding hackathon. The top five most creative animations were selected as winners by a panel of judges from Intel STEM team (Mr. Ong Soon Ee and Miss Teo Sje Yin) and USM (Dr. Wong Li Pei, Dr. Nasuha Lee Abdullah, Dr. Syaheerah Lebai Lufti and Dr. Rosni Abdullah). Prizes for the winners were sponsored by Telebort and CS USM. All thanks to the unwavering support of our sponsors, partners, parents and the community, CodeMaven 2.0 is a step closer towards cultivating interest and creating greater exposure among young girls in coding and STEM.</p>

        <br>
      <h4 class="gallery_title"><strong>CODEMAVEN 2.0 GIRLS2CODE 2024 Gallery</strong></h4>

      <div class="carousel-wrapper">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="../../../../../assets/cm1.png" class="d-block w-100" alt="...">
          </div>
         
        </div>
      </div>
    </div>
      
</div>


  </section>
  