/* Set background color to a neon purplish-blue */
body, .vh-100 {
    background-color: #a56bcc2d; /* Neon purplish-blue color */
    color: rgb(154, 18, 161);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    margin-top: -300px;
}

/* Style the logo */
.logo {
    max-width: 150px; /* Adjust size as needed */
    margin-bottom: -70px; 
    margin-left: 55px;
    margin-top: -80px;
}


/* Optional: Add neon-like effect to the button */
.btn-primary {
    background-color: #1a1c98; /* Neon purple color */
    border: none;
    box-shadow: 0 4px 6px rgba(156, 77, 204, 0.6);
}

.btn-primary:hover {
    background-color: #1f5ca2; /* Darker neon purple on hover */
    box-shadow: 0 4px 10px rgba(123, 31, 162, 0.8);
}
