<!-- Board members of CS Ssociety -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>

  </div>

  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="../../../../../assets/4.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <img src="../../../../../assets/5.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <img src="../../../../../assets/6.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <img src="../../../../../assets/1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <img src="../../../../../assets/2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>

    <div class="carousel-item" data-bs-interval="3000">
      <img src="../../../../../assets/3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br><br><br> <br>


<!-- Achievement Section -->
<section id="achievements" class="container my-5">

  <div class="title">
    <div class="titlecard">
      <h1>Our Achievements</h1>
    </div>
  </div>
  
  <br> <br> <br>

  <!-- Achievement 1-->
  <div class="row mb-4">
    <div class="col-md-12">
      <h3>Annual Computer Science Internship Recruitment Fair</h3>
      <br>

      <img src="../../../../../assets/Internship.jpeg" class="img-fluid"
        alt="Annual Computer Science Internship Recruitment Fair">
      <br>

      <!-- Achievement Description -->
      <p>The Annual Computer Science Internship Recruitment Fair is one of the USM Computer Science Society's key
        achievements, aiming to bridge the gap between students and industry professionals.
        This event is held annually, offering a platform for students to connect with leading tech companies, learn
        about potential career opportunities, and gain insights into industry trends.
        <br>
        Through this fair, the society collaborates with top companies from various sectors, including software
        development, AI, cybersecurity, and data science.
        Students can participate in on-the-spot interviews, attend company presentations, and explore internship
        openings that provide real-world experience in their respective fields of study.
        <br>
        The fair serves as a crucial step for students to launch their careers, providing them with the chance to secure
        internships, build professional networks, and gain insights into the expectations and skills required in the
        tech industry.
        It is a testament to the society's commitment to empowering students and preparing them for successful careers
        in technology.
      </p>
    </div>
  </div>

  <br>
 

  <!-- Achievement 2 -->
  <div class="row mb-4">
    <div class="col-md-12">
      <h3>STEM Outreach Program</h3>
      <br>
      <!-- Image -->
      <img src="../../../../../assets/stem3.jpeg" class="img-fluid mb-3" alt="STEM Outreach Program">
      <br>

      <!-- Achievement Description -->
      <p>
        The STEM Outreach Program spearheaded by the USM Computer Science Society is a community-driven initiative that
        aims to inspire and educate young minds about the importance of science, technology, engineering, and
        mathematics (STEM) from an early age.
        Targeting primary school students in Penang, the program brings STEM concepts to life through hands-on
        activities, workshops, and interactive learning experiences.
        <br><br>
        By partnering with local schools, the society organizes coding workshops, robotics competitions, and
        introductory lessons in data science and artificial intelligence.
        These workshops are designed to engage students in creative problem-solving, critical thinking, and teamwork,
        empowering them to pursue STEM-related subjects as they progress in their education.
        The outreach program also emphasizes the role of technology in solving real-world problems, helping to cultivate
        a passion for innovation and science in young learners.
        By nurturing a new generation of STEM enthusiasts, the society aims to foster diversity and inclusion in the
        technology sector, especially among underrepresented groups.
      </p>
    </div>
  </div>

  <br>


  <!-- Achievement 3-->
  <div class="row mb-4">
    <div class="col-md-12">

      <h3>Campus Mobility Projects</h3>

      <br>

      <img src="../../../../../assets/bus.jpeg" class="img-fluid" alt="Achievement 3">
      <br>

      <!-- Achievement Description -->
      <p>
        The Campus Mobility Projects undertaken by the USM Computer Science Society aim to enhance the efficiency and
        sustainability of transportation systems within the university campus.
        These projects are designed to address the challenges associated with campus mobility, including traffic
        congestion, environmental concerns, and student accessibility.
      </p>
      <p>
        One of the key initiatives under this project is the development of smart transportation solutions such as
        campus shuttle tracking systems, mobile apps for real-time transportation updates, and automated bike-sharing
        services.
        These systems help students and faculty navigate the campus more efficiently, reducing time spent in transit and
        minimizing the carbon footprint of campus commuting.
      </p>
      <p>
        The society has also worked on promoting sustainable mobility through the implementation of electric vehicle
        (EV) charging stations and integrating green transportation options like electric bikes and scooters into the
        campus.
        By encouraging the use of eco-friendly transportation, the Computer Science Society not only improves the
        mobility of the campus community but also contributes to the university’s broader goals of sustainability and
        environmental responsibility.
      </p>
    </div>
  </div>

</section>


<!-- Past Events Section -->
<section id="pastEvents" class="container my-5">

  <div class="title">
    <div class="titlecard">
      <h1>Past Events</h1>
    </div>
  </div>
  
  <br> <br> <br>


<div class="card-container">
  <div class="card" style="width: 18rem;">
    <img src="../../../../../assets/vhack.webp" class="card-img-top fixed-height" alt="...">
    <div class="card-body">
      <h5 class="card-title">Varsity Hackathon 2024</h5>
      <br>
      <h6><i class="fas fa-calendar-alt"></i> July 12 2024</h6>
      <h6><i class="fas fa-map-marker-alt"></i> Dewan Utama Pelajar, USM</h6>
      <br>
      <p class="card-text">Varsity Hackathon, a significant student-led hackathon in Malaysia, 
        attracting participants from both local and international universities.</p>
        <button class="btn btn-primary"  [routerLink]="['/users/pastevents']"   fragment="event-details-1"
        >View</button>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
    <img class="img-fluid" src="../../../../../assets/pixel.png" class="card-img-top fixed-height" alt="...">
    <div class="card-body">
      <h5 class="card-title">PIXEL 2024</h5>
      <br>
      <h6><i class="fas fa-calendar-alt"></i> June 30 2023</h6>
      <h6><i class="fas fa-map-marker-alt"></i> Dewan Utama Pelajar, USM</h6>
      <br>
      <p class="card-text">An annual flagship exhibition programme specially curated for final year computer science students.</p>
      <button class="btn btn-primary"  [routerLink]="['/users/pastevents']"   fragment="event-details-2"
      >View</button>
    </div>
  </div>

  
  <div class="card" style="width: 18rem;">
    <img class="img-fluid" src="../../../../../assets/logOff.png" class="card-img-top fixed-height" alt="...">
    <div class="card-body">
      <h5 class="card-title">Log Off Night 2024</h5>
      <br>
      <h6><i class="fas fa-calendar-alt"></i> Jun 10 2023</h6>
      <h6><i class="fas fa-map-marker-alt"></i> Bayview Hotel, Penang</h6>
      <br>
      <p class="card-text">An annual dinner to celebrate and appreciate final year computer science students' contributions.</p>
      <button  class="btn btn-primary"  [routerLink]="['/users/pastevents']"   fragment="event-details-3"
      >View</button>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../../../../../assets/codeMaven.png" class="card-img-top fixed-height" alt="...">
    <div class="card-body">
      <h5 class="card-title">CODEMAVEN 2.0 GIRLS2CODE 2024</h5>
      <br>
      <h6><i class="fas fa-calendar-alt"></i> 28 April – 1 May 2024</h6>
      <h6><i class="fas fa-map-marker-alt"></i> MakerSpacce, USM</h6>
      <br>
      <p class="card-text">CodeMaven 2.0 Girls2Code,  workshop to encourage young girls (7 - 12 years old) to learn coding and become technology creators.</p>
      <button class="btn btn-primary"  [routerLink]="['/users/pastevents']"   fragment="event-details-4"
      >View</button>
    </div>
  </div>

 
</div>


</section>
