<!-- navbar -->
<nav class="navbar navbar-expand-lg" style="background-color: #6a0dad; padding: 16px 0;">
  <div class="container-fluid">
    <!-- <a class="navbar-brand text-white" href="#" style="font-size: 18px;">Navbar</a> -->
    <a href=""><img src="../assets/cs_logo.png" alt="cs_logo" style="width: 70px; height: 70px; margin-right: 40px; margin-left: 20px;"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="font-size: 20px;">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#" style="font-size: 20px; margin-right: 10px;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/admin/portfolio']"  style="font-size: 20px; margin-right: 10px;">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white" [routerLink]="['/admin/merchandise']" style="font-size: 20px; margin-right: 10px;">Merchandise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white" [routerLink]="['/admin/order']" style="font-size: 20px; margin-right: 10px;">View Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white" href="#" style="font-size: 20px; margin-right: 10px;">Sponsorship</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="font-size: 20px; padding: 0px 10px 0 10px; border-radius: 50px;">
        <button class="btn btn-outline-light" type="submit" style="font-size: 20px; border-radius: 50px; margin-right: 50px; margin-left: 10px;">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</nav>


<div class="container py-4">
  <div class="d-flex align-items-center mb-4">
    <!-- Title -->
    <h1 class="fs-4 fw-bold text-dark">Order Details</h1>
  </div>

  <!-- Order Section -->
   <!-- Table header -->
  <div class="bg-white shadow rounded overflow-hidden">
    <table class="table mb-0">
      <thead class="thead-light">
        <tr>
          <th class="px-3 py-2 text-sm fw-semibold" style="width: 12%;">Order ID</th>
          <th class="px-3 py-2 text-sm fw-semibold text-end" style="width: 12%;">Amount (RM)</th>
          <th class="px-3 py-2 text-sm fw-semibold" style="width: 30%;">Order Items</th>
          <th class="px-3 py-2 text-sm fw-semibold" style="width: 10%;">User Name</th>
          <th class="px-3 py-2 text-sm fw-semibold" style="width: 10%;">Email Address</th>
          <th class="px-3 py-2 text-sm fw-semibold" style="width: 5%;">Contact No.</th>
          <th class="px-3 py-2 text-sm fw-semibold" style="width: 5%;">Receipt</th>
          <th class="px-3 py-2 text-sm fw-semibold" style="width: 15%;">Action</th>
        </tr>
      </thead>

      <!-- table body -->
      <!-- Values of amount always display 2 decimal places -->
      <!-- Displays only the filename of the receipt instead of the full URL -->
      <!-- Provides a clickable link that opens the receipt in a new tab -->
      <tbody>
          <ng-container *ngIf="orderList.length > 0; else noRecords">
              <tr *ngFor="let order of orderList; let i = index" class="align-middle">
                  <td class="px-3 py-2 text-muted small">{{ order.id }}</td>
                  <td class="px-3 py-2 text-muted small text-end">{{ order.amount | number:'1.2-2' }}</td>
                  <td class="px-3 py-2 text-muted small">
                      <div *ngFor="let orderItem of order.orderedItem">
                          <span>{{ orderItem.quantity }} x {{ orderItem.title }} (Size: {{ orderItem.size }})</span> <br>
                      </div>
                  </td>
                  <td class="px-3 py-2 text-muted small">{{ order.userName }}</td>
                  <td class="px-3 py-2 text-muted small">{{ order.email }}</td>
                  <td class="px-3 py-2 text-muted small">{{ order.contact }}</td>
                  <td class="px-3 py-2 text-muted small">
                      <a href="{{ order.receiptUrl }}" target="_blank">
                      {{ order.receiptUrl | slice: order.receiptUrl.lastIndexOf('/') + 1 }}
                      </a>
                  </td>

                  <!-- A button to delete the order using the deleteOrder(order) method -->
                  <td class="px-3 py-2 text-muted small">
                    <button
                    (click)="editOrder(order)"
                    class="btn btn-primary btn-sm me-2"
                  >
                    Edit
                  </button>
                  <button
                      (click)="deleteOrder(order)"
                      class="btn btn-danger btn-sm"
                  >
                      Delete
                  </button>
                  </td>
              </tr>
          </ng-container>
          <!-- If there are no orders in orderList, this template will be displayed, showing a message: "No orders found." -->
          <ng-template #noRecords>
              <tr class="align-middle text-center" style="height: 4rem;">
                  <td colspan="8" class="fw-semibold text-muted fs-5">
                    No orders found.
                  </td>
              </tr>
          </ng-template>
      </tbody>


    </table>
  </div>
</div>
