<!-- Navbar -->
<nav class="navbar navbar-expand-lg" style="background-color: #6a0dad; padding: 16px 0;">
  <div class="container-fluid">
    <!-- <a class="navbar-brand text-white" href="#" style="font-size: 18px;">Navbar</a> -->
    <a href=""><img src="../assets/cs_logo.png" alt="cs_logo" style="width: 70px; height: 70px; margin-right: 40px; margin-left: 20px;"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="font-size: 20px;">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#" style="font-size: 20px; margin-right: 10px;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/users/portfolio']"  style="font-size: 20px; margin-right: 10px;">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white" [routerLink]="['/users/merchandise']" style="font-size: 20px; margin-right: 10px;">Merchandise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white" href="#" style="font-size: 20px; margin-right: 10px;">Sponsorship</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="font-size: 20px; padding: 0px 10px 0 10px; border-radius: 50px;">
        <button class="btn btn-outline-light" type="submit" style="font-size: 20px; border-radius: 50px; margin-right: 50px; margin-left: 10px;">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="container h-100 position-relative px-5">
  <!-- Shopping Cart Icon Section -->
  <div class="d-flex justify-content-end mb-4">
    <a
      [routerLink]="'/users/cart'"
      class="position-relative text-dark text-decoration-none"
    >
      <!-- shopping cart icon -->
      <i class="fas fa-shopping-cart fs-3"></i>
      <!-- Badge for Item Count -->
      <span
        class="position-absolute bg-danger text-white small fw-bold d-flex align-items-center justify-content-center rounded-circle"
        style="width: 1.5rem; height: 1.5rem; top: -0.5rem; right: -1rem"
        *ngIf="cartItemsCount > 0"
      >
        {{ cartItemsCount }}
      </span>
    </a>
  </div>

  <!-- Merchandise Section -->
  <div class="row justify-content-center align-items-center h-100 mt-4">
    <ng-container *ngIf="merchandiseItem != null">
      <div
        class="col-md-4 d-flex justify-content-center mb-4"
        *ngFor="let merchandise of merchandiseItem"
      >
        <app-card-merchandise
          [merchandise]="merchandise"
          (openModal)="openModal($event)"
        ></app-card-merchandise>
      </div>
    </ng-container>
  </div>
</div>
